<html>
<head>
    <!-- Written by Jackz (me@jackz.me) @ https://jackz.me -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="shortcut icon" type"image/png" href="favicon.png">
    <title>Nullify Chat V{{version}}</title>
    <meta name="og:type" content="website">
    <meta name="og:url" content="https://nullifygta.com">
	<meta name="og:description" value="Chatroom for Nullify GTA V menu">
	<meta name="og:title" value="Nullify Chatroom">
	<meta name="description" value="Chatroom for Nullify GTA V menu">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<br>

<div id='chat_container'>
    <ul id='chat_list' class="list-group text-dark"></ul>   
</div>
  

<div id='input_zone_parent'>
    <div id='input-zone'>
        <span id='info' class='border border-success'>Connecting...</span>
        <input class="form-control" type="text" maxlength="2000" id="chatsend" placeholder="Send a message to #general" />
        
    </div>
</div>
<div class="toggleButtons">
    <a id='memberButton'  href="#memberlist" onclick="toggleNav('memberlist')"><i class="fas fa-users"></i></a><br>
    <a id='channelButton'  href="#channels" onclick="toggleNav('channels')"><i class="fas fa-hashtag"></i></a><br>
    <a id='settingsBtn' href="#settings" onclick="toggleNav('settings',275)"><i class="fas fa-cog"></i></a>
</div>


<div id="memberlist" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav('memberlist')">&times;</a>
    <h4 class='text-center'>Members (<span id='usercount'>0</span>)</h4>
    <ul id='connecteduserlist' class="list-group text-dark">
    </ul>
</div>
<div id="channels" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav('channels')">&times;</a>
    <h4 class='text-center'>Channels<h4>
    <div id='channelList' class="list-group text-dark"></div>
</div>
<div id="settings" class="sidenav text-center">
    <a href="javascript:void(0)" class="closebtn" onclick="toggleNav('settings',275)">&times;</a>
    <h4 class='text-center'>Settings<h4>
    <p>Work in progress</p>
    <small>Disable sound effects with browser, sorry</small>
    <br><br>
    <h5>Changelog</h5>
    <ul class='align-left'>
        <li>Added channels & switching</li>
        <li>Settings navbar</li>
    </ul>
</div>

<div class="alertify-logs"></div>
	
<!-- scripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chance.min.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>
<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>